web-service/src/main/resources/wsdl/equationWsdl.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://pryabykh.com/xml/equation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pryabykh.com/xml/equation" targetNamespace="http://pryabykh.com/xml/equation">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://pryabykh.com/xml/equation">
            <xs:element name="QuadraticEquationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="a" type="xs:int"/>
                        <xs:element minOccurs="0" name="b" type="xs:int"/>
                        <xs:element minOccurs="0" name="c" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QuadraticEquationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" type="xs:string"/>
                        <xs:element name="formula" type="xs:string"/>
                        <xs:element minOccurs="0" name="D" type="xs:int"/>
                        <xs:element minOccurs="0" name="x1" type="xs:double"/>
                        <xs:element minOccurs="0" name="x2" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QuadraticEquationRequest">
        <wsdl:part element="tns:QuadraticEquationRequest" name="QuadraticEquationRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="QuadraticEquationResponse">
        <wsdl:part element="tns:QuadraticEquationResponse" name="QuadraticEquationResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EquationDetailsPort">
        <wsdl:operation name="QuadraticEquation">
            <wsdl:input message="tns:QuadraticEquationRequest" name="QuadraticEquationRequest"> </wsdl:input>
            <wsdl:output message="tns:QuadraticEquationResponse" name="QuadraticEquationResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EquationDetailsPortSoap11" type="tns:EquationDetailsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="QuadraticEquation">
            <soap:operation soapAction=""/>
            <wsdl:input name="QuadraticEquationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="QuadraticEquationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EquationDetailsPortService">
        <wsdl:port binding="tns:EquationDetailsPortSoap11" name="EquationDetailsPortSoap11">
            <soap:address location="http://localhost:8080/service/equation"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>